# Global
.DS_Store
Thumbs.db
node_modules/
dist/
coverage/
.idea/
.vscode/
*.log
*.swp

# Backend (Spring Boot avec Gradle)
backend/.gradle/
backend/build/
backend/out/
backend/.idea/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/target/
backend/logs/
backend/*.iml
backend/*.log
backend/local.properties
backend/.settings/
backend/.classpath
backend/.project
uploads/
backend/src/main/resources/static/

# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/.idea/
frontend/.vscode/

# Git
.git/
