<div class="diaporama-container">
    @if(currentPost)
    {
        <img [src]="environment.serverUrl + '/' + currentPost?.imageUrl" alt="Post Image"
            [class.fade-out]="fadeOut"
            (load)="onImageLoad()"
            class="diaporama-image"/>
        <div *ngIf="currentPost.comment" class="comment-box" [class.fade-out]="fadeOut">
            <p>{{ currentPost.comment }}</p>
        </div>
    }
    @else
    {
        <p style="font-size: 3em; transition: all ease-out 1s;">Le diaporama va démarrer ...</p>
    }
</div>