<div class="welcome-container">
    <div class="message">
      <h1>Bienvenue à notre mariage !</h1>
      <p>Partagez vos photos et messages avec nous et profitez du diaporama sur grand écran.</p>
    </div>
  
    <div class="image">
      <img src="assets/welcome-image.jpg" alt="Photo de bienvenue" class="welcome-image" />
    </div>
  
    <div class="options">
      <button class="action-button" (click)="navigateToDiaporama()">Afficher le Diaporama</button>
      <button class="action-button" (click)="navigateToPublish()">Publier un Message</button>
    </div>
    
    <div class="admin-link">
      <a href="/admin">Accéder à l'administration</a>
    </div>
  </div>
  