<div class="publish-container">
  <h2>Partagez un moment !</h2>

  <!-- Zone d'upload de l'image -->
  <div class="image-upload">
  
    <!-- Aperçu de l'image -->
    @if(previewUrl)
    {
      <div class="preview">
        <img [src]="previewUrl" alt="Aperçu">
      </div>
      <button class="delete-btn" (click)="removeImage()">Changer d'image</button>
    }
    @else{
      <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden id="fileInput">
      <label for="fileInput" class="upload-btn">Ajouter une image</label>
    }

  </div>

  <!-- Zone de commentaire -->
  <textarea [(ngModel)]="comment" placeholder="Ajoutez un commentaire (si vous le souhaitez)..."></textarea>

  <!-- Bouton de soumission -->
  <button class="publish-btn" (click)="submitPost()" [disabled]="!selectedImage">Envoyer !</button>
</div>